.tab-pane {
    -fx-background-color: transparent;
}

.tab {
    -fx-background-color: transparent;
}

.tab:selected{
    -fx-background-color: rgba(74, 64, 62, 0.85);
    -fx-text-fill: white;
}

.add-account {
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.table-view {
    -fx-background-color: rgb(91, 86, 85);
    /*-fx-text-fill: whitesmoke;*/
}

.table-row-cell {
    -fx-background-color: rgba(0,0,0,0.2);
}

.table-column {
    -fx-text-fill: whitesmoke;
}

.card {
    -fx-pref-width: 240;
    -fx-background-color: rgba(91, 86, 85, 0.75);
}

.card:hover {
    -fx-cursor: hand;
    -fx-background-color: rgba(91, 86, 85, 1);
}

.card-topic {
    -fx-font-family: Calibri;
    -fx-text-fill: white;
    -fx-wrap-text: true;
    -fx-font-size: 17;
    -fx-font-weight: 700;
}

.card-content {
    -fx-text-alignment: justify;
    -fx-text-fill: white;
    -fx-wrap-text: true;
    -fx-font-size: 15;
}